:root {
  --background-color: #f2f4f7;
  --light-background-color: #fcfcfd;
  --accent-color: #1d2939;
  --font-color: #98a2b3;
  --font-accent-color: #667085;
  --tags-dark-color: #475467;
  --tags-green-text-color: #12b76a;
  --tags-green-hover-color: #d1fadf;
}

#root {
  display: flex;
  height: 100%;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: var(--background-color);
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.navlink {
  text-decoration: none;
}

.navigation__collection {
  width: 240px;
  height: 100vh;
  background-color: #fff;
  padding: 24px 24px 0 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: var(--font-accent-color);
  border-right: 1px solid var(--font-accent-color);
}

.navigation__collection_element {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  padding: 12px 6px;
}

.navigation__collection_element_name {
  margin: 0;
  color: var(--font-accent-color);
}

.navigation__collection_element:hover .navigation__collection_element_name,
.navigation__collection_element:active .navigation__collection_element_name {
  color: var(--accent-color);
}

.navigation__collection_element_number {
  background-color: var(--background-color);
  padding: 2.5px 6px;
  color: var(--accent-color);
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.0075em;
}

.navigation__collection_element:hover,
.navigation__collection_element:active {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-radius: 8px;
}

.navigation__collection_element:hover .navigation__collection_element_number,
.navigation__collection_element:active .navigation__collection_element_number {
  background-color: var(--accent-color);
  color: #fff;
}

.navigation__collection_element-1st {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation__collection_element-tasks-icon,
.navigation__collection_element-users-icon,
.navigation__collection_element-columns-icon,
.navigation__collection_element-tags-icon {
  width: 24px;
  height: 24px;
  padding: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.navigation__collection_element-tasks-icon {
  background-image: url(../public/assets/tasks_icon_grey.svg);
}

.navigation__collection_element:hover
  .navigation__collection_element-tasks-icon,
.navigation__collection_element:active
  .navigation__collection_element-tasks-icon {
  background-image: url(../public/assets/tasks_icon_blue.svg);
}

.navigation__collection_element-users-icon {
  background-image: url(../public/assets/users_icon_grey.svg);
}

.navigation__collection_element:hover
  .navigation__collection_element-users-icon,
.navigation__collection_element:active
  .navigation__collection_element-users-icon {
  background-image: url(../public/assets/users_icon_blue.svg);
}

.navigation__collection_element-columns-icon {
  background-image: url(../public/assets/columns_icon_grey.svg);
}

.navigation__collection_element:hover
  .navigation__collection_element-columns-icon,
.navigation__collection_element:active
  .navigation__collection_element-columns-icon {
  background-image: url(../public/assets/columns_icon_blue.svg);
}

.navigation__collection_element-tags-icon {
  background-image: url(../public/assets/tags_icon_grey.svg);
}

.navigation__collection_element:hover .navigation__collection_element-tags-icon,
.navigation__collection_element:active
  .navigation__collection_element-tags-icon {
  background-image: url(../public/assets/tags_icon_blue.svg);
}

.hidden {
  display: none;
}

.to-do {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  column-gap: 36px;
  width: calc(100% - 240px);
  padding: 80px 84px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  overflow-x: auto;
  grid-auto-flow: column;
  grid-auto-columns: 320px;
}

.todo__column {
  overflow-y: auto;
}

.todo__column_task {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--font-color);
  background-color: var(--light-background-color);
  border-radius: 8px;
  box-shadow: 0px 0.5px 2px rgb(16 24 40 / 30%);
  padding: 20px;
  margin-bottom: 24px;
  cursor: pointer;
}

.todo__column_task:last-of-type {
  margin-bottom: 0;
}

.todo__column-name {
  color: var(--font-accent-color);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.0075em;
  margin: 0 0 32px 0;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  text-transform: uppercase;
}

.todo__column_task-name {
  font-size: 20px;
  color: var(--accent-color);
  line-height: 30px;
  letter-spacing: -0.02em;
  margin: 0 0 6px 0;
}

.todo__column_task-date-person_dot {
  position: absolute;
  left: 62px;
  bottom: 3px;
}

.todo__column_task-date-person {
  display: flex;
  gap: 20px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.todo__column_task-date-person_person {
  margin-left: 3px;
  color: var(--font-accent-color);
}

.todo__column_task-description {
  margin: 16px 0;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.todo__column_task-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.todo__column_task-link-img {
  width: 18px;
  padding: 2px;
  box-sizing: border-box;
}

.todo__column_task-tags {
  display: flex;
  padding: 0;
  gap: 8px;
  margin: 16px 0;
}

.todo__column_task-tags > li {
  list-style: none;
  padding: 6px 12px;
}

.todo__column_task-tags_design {
  background-color: var(--background-color);
  color: var(--tags-dark-color);
}

.todo__column_task-comments-section_img {
  width: 18px;
  padding: 4px 3px;
  object-fit: contain;
}

.todo__column_task-comments-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main_add-button {
  background-image: url(../public/assets/add_button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: fixed;
  right: 58px;
  bottom: 10px;
  padding: 12px;
  border: none;
  background-color: var(--accent-color);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.add-window__container {
  z-index: 1;
  position: absolute;
}

.add-window__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-window__container {
  z-index: 1;
  background-color: var(--light-background-color);
  width: 742px;
  padding: 70px 70px 20px 70px;
  position: relative;
  box-sizing: border-box;
  height: 584px;
  border-radius: 8px;
}

.add-window__container-controls_titles {
  color: var(--font-accent-color);
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.02em;
  margin: 0;
}

.add-window__container_input {
  border: none;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--light-background-color);
  font-family: "Karla";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.add-window__container_input:first-of-type {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.rti--container {
  width: 300px;
  margin: 5px 0 10px 0;
  box-sizing: border-box;
}

.react-datepicker__day--selected {
  background-color: var(--accent-color);
}

.react-datepicker__day.react-datepicker__day--015.react-datepicker__day--keyboard-selected {
  background-color: var(--accent-color);
}

.add-window__container-controls_selection {
  display: flex;
  gap: 20px;
}

.add-window__container-controls_selection-select {
  font-family: "Karla";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  width: 140px;
  margin: 5px 0 10px 0;
  box-sizing: border-box;
  appearance: none;
  background-image: url("../public/assets/select_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  cursor: pointer;
}
.add-window__container-controls_selection-select-column {
  text-transform: uppercase;
}

.add-window__container-controls_selection-select-disabled {
  background-color: #c9d2e1;
}

.add-window__container-controls_comments-section {
  overflow-y: auto;
  max-height: 88px;
}

.add-window__container-controls-comment,
add-window__container_input-comment {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: var(--font-color);
  margin: 0;
  overflow-wrap: break-word;
}

.add-window__container-controls_comments-section-list {
  padding-left: 13px;
}

.add-window__container_input-comment {
  border: none;
  width: 100%;
  background-color: var(--light-background-color);
  font-family: "Karla";
  text-transform: capitalize;
}

.add-window__container-controls-comment:first-of-type {
  margin-top: 5px;
}

.add-window__container-controls-comment:last-of-type {
  margin-bottom: 5px;
}

.add-window__container_button {
  padding: 8px;
  border: 1px solid var(--font-color);
  border-radius: 8px;
  background-color: #fff;
  font-family: "Karla";
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.add-window__container_buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.add-window__container_button:last-of-type {
  background-color: var(--accent-color);
  color: #fff;
  padding: 8px 16px;
}

@media all and (max-width: 767px) {
  .main__mobile-menu-button {
    display: inline;
    border: none;
    background-image: url(../public/assets/mobile_menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 9px;
    background-color: transparent;
  }

  .navigation__collection {
    position: absolute;
    width: 75%;
    box-sizing: border-box;
    z-index: 1;
    transition: left 0.3s ease;
    z-index: 2;
  }

  @keyframes mobile_navigation_fade {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  .navigation__overlay {
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
    transition: background-color 0.3s ease;
  }

  .navigation__overlay_closed {
    background-color: rgba(0, 0, 0, 0);
    animation: mobile_navigation_fade 0.3s 0.3s forwards;
    transition: background-color 0.3s ease;
  }

  .add-window__container-controls_titles {
    margin: 0 0 5px 0;
  }

  .main_add-button {
    right: 25px;
    bottom: 25px;
  }

  .to-do {
    width: 100%;
    height: 100%;
    padding: 80px 10px 100px 10px;
    column-gap: 10px;
  }

  .add-window__container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    padding: 30px 30px 0 30px;
    width: 100%;
    height: 100%;
  }

  .add-window__container_input:first-of-type {
    font-size: 34px;
    text-transform: capitalize;
  }

  .add-window__container_input {
    font-size: 18px;
  }

  .add-window__container-controls_selection {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
  }
}
